.xwrapper {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.todolist {
  display: flex;
  flex-direction: column;
}
.taskTitle-txt,
.content {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.taskTitle-txt::placeholder,
.content::placeholder {
  color: #aaa;
}
.button {
  display: flex;
  justify-content: space-between;
}
.cancel-btn,
.addTask-btn {
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transform: background-color 0.3 ease;
}
.cancel-btn {
  background-color: rgb(221, 9, 9);
  color: #fff;
  margin-right: 5px;
}
.addTask-btn {
  background-color: #4caf50;
  color: #fff;
}
.addTask-btn::hover {
  background-color: #45a049;
}

.add-button {
  display: flex;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 8px;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  background-color: #4caf50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
}
.add-button:hover {
  background-color: #64b568;
  font-size: 15.5px;
  transition: all 0.1s;
}
