@import url("./App.css");
@import url("./css/SubmitTask.css");
@import url("./css/ToDoItem.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
